.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.nav_co {
 color: white;
}

.top-padding {
    padding-top: 25px !important;
}

.filters-header {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px!important;
}

.cursor-pointer {
    cursor: pointer;
}

.tag-width {
    max-width: 240px;
}